<footer class="text-center text-white page-footer font-small mdb-color darken-3 fixed-bottom">
    <div class="container pt-1">
      <section class="mb-1">
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://github.com/clcheatle/TicTacToeBoard"
          title="Board Web API Repo"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://github.com/clcheatle/TicTacToeClientRepo"
          title="Angular Repo"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
        <!-- Pipeline -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://dev.azure.com/clcheatle/tictactoe/_build?definitionId=5"
          title="Board Web API Pipeline"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <mdb-icon fas icon="rocket"></mdb-icon>
        </a>
        <!-- Pipeline -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://dev.azure.com/clcheatle/clcheatle/_build?definitionId=6"
          title="Angular Pipeline"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <mdb-icon fas icon="rocket"></mdb-icon>
        </a>
      </section>
    </div>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>  

</footer>
